body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

#main-container {
    width: 960px;
    height: 560px;
    background-color: #ffffff;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 10%;
}

#image-section {
    width: 40%;
    height: 100%;
    float: left;
}

#nav-bar-section {
    width: 60%;
    float: left;
}

#main-icon {
    height: 100%;
    width: 150px;
    padding-left: 2%;
    padding-top: 1%;
}

#nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navs {
    float: right;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 7%;
}

.navs a {
    text-decoration: none;
    color: #000000;
    width: 40px;
}

#divider {
    height: 1%;
    border: none;
    color: #000000;
    background-color: #000000;
}

#active {
    border-style: solid;
    border-bottom-color: #ff0000;
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: bold;
}

#body-content {
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

#left-section {
    width: 30%;
    height: 100%;
    float: left;
}

#right-section {
    width: 70%;
    height: 100%;
    float: left;
}

#profile {
    width: 100%;
    height: 50%;
    float: top;
}

#legend {
    width: 100%;
    height: 50%;
    float: bottom;
}

#tooltip.visible {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: open-sans;
    font-size: 16px;
    line-height: 20px;
}