<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="shortcut icon" href="../static/images/github-explorer-favicon.ico">
</head>
<body>
<div id="main-container">
    <div id="header">
        <div id="image-section">
            <img src="../static/images/github-explorer-icon.png" id="main-icon">
        </div>
        <div id="nav-bar-section">
            <ul id="nav-list">
                <li class="navs"><a id="active" href="/contactus">Contact Us</a></li>
                <li class="navs"><a href="/start">Start</a></li>
                <li class="navs"><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
    <hr id="divider"/>
    <div id="body-content">
    </div>
</div>
</body>
</html>